# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Django secret files
*.sqlite3
db.sqlite3
*.log

# Virtual environment directory
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

