<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quibusdam quae aliquid, inventore deleniti odit cumque perferendis possimus libero nulla earum veritatis nam, accusamus pariatur dolores quod dignissimos, at est?</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores ad aperiam aliquid nihil, a, ipsa molestiae, modi quis voluptatibus nobis voluptates consectetur? Quos quasi officia id perspiciatis error iste fugiat?</p>
    </div>
</body>
</html>